<% provide(:title, "Edit user") %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-3 text-center">
      <h1 id="newReportHeader">Edit Your Profile</h1>

            <%= form_for(@user) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>

                <%= f.label :first_name, class: 'formLabel' %>
                <%= f.text_field :first_name, class: 'form-control' %>

                <%= f.label :last_name, class: 'formLabel' %>
                <%= f.text_field :last_name, class: 'form-control' %>

                <%= f.label :phone_number, class: 'formLabel' %>
                <%= f.text_field :phone_number, class: 'form-control' %>

                <%= f.label :department, class: 'formLabel' %>
                <%= f.text_field :department, class: 'form-control' %>

                <%= f.label :email, class: 'formLabel' %>
                <%= f.email_field :email, class: 'form-control' %>

                <%= f.label :password, class: 'formLabel' %>
                <%= f.password_field :password, class: 'form-control' %>

                <%= f.label :password_confirmation, class: 'formLabel' %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>

                <%= f.submit "Save Updates", class: "btn btn-primary", id: "submitFormButton" %>
                <br>
                <br>
            <% end %>
        </div>
    </div>
</div>