<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-3 text-center">
      <h1 id="newReportHeader">Submit a new Report</h1>

      <%= form_for(@micropost, html: { multipart: true }) do |f| %>
        <%= render "shared/error_messages", object: f.object %>

        <br>
        <%= f.label :subject, "Subject:", class: "newReportLabel" %>
        <%= f.text_field :subject, class: "form-control" %>
        <br>
        
        <%= f.label :details, "Details:", class: "newReportLabel" %>
        <%= f.text_area :details, class: "form-control" %>
        <br>

        <%= f.label :location, "Location:", class: "newReportLabel" %>
        <%= f.text_field :location, class: "form-control" %>
        <br>

        <%= f.label :emergency, "Is this an Emergency?", class: "newReportLabel" %>
        <br>
        <%= f.check_box :emergency, id: "emergencyCheckBox" %>
        <br>
        <br>

        <div class="center">
      	  <%= f.label :picture, "Upload a photo: ", class: "newReportLabel" %>
          <div id="photoUpload"><%= f.file_field :picture, accept: "image/jpeg,image/gif,image/png" %></div>
          <br>
        </div>

        <%= f.submit "Submit", class: "btn btn-primary", id: "newReportButton" %>
        <br>
        <br>
      <% end %>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-3 text-center">
      <div id="mapCanvas" style="width: 100%; height: 380px;"></div>
      <br>
      <br>
    </div>
  </div>
</div>

<script>

  $("#micropost_picture").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
    }
  });

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0nKXA3huAMfcormU4i1h3ALXlwOFkz_E"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script>

  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      currentLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      $.cookie("lat", position.coords.latitude);
      $.cookie("lng", position.coords.longitude);
      var properties = {
        center: currentLocation,
        zoom: 18,
        mapTypeId: google.maps.MapTypeId.SATELLITE
      };

      var map = new google.maps.Map(document.getElementById("mapCanvas"), properties);

      var marker = new google.maps.Marker({
        position: currentLocation,
        animation: google.maps.Animation.BOUNCE,
        draggable: true
      });

      marker.setMap(map);
    });
  }
  else {
    alert("Geolocation is not supported by your browser.");
  }

</script>